<html>

<head>
    <script src='vue.js'></script>
</head>

<body>
    <div id="example">
        {{ a }}
    </div>
</body>
<script>
//Vue实例 属性、方法
var data2 = { a: 1 }
var data = { a: 1 }
var vm = new Vue({
  el: '#example',
  data: data,
  computed: {
    // 仅读取，值只须为函数
    aDouble: function () {
      return this.a * 2
    },
    // 读取和设置
    aPlus: {
      get: function () {
        return this.a + 1
      },
      set: function (v) {
        this.a = v - 1
      }
    }
  },
  methods: {
    plus: function () {
      this.a++
    }
  },
  watch: {
    a: function (val, oldVal) {
      console.log('new: %s, old: %s', val, oldVal)
  }}
})
console.log(`vm.$data === data : ${vm.$data === data}`);
console.log(`vm.$el === document.getElementById('example') : ${vm.$el === document.getElementById('example')}`);


vm.plus();

vm.aPlus   // -> 3
vm.aPlus = 3
vm.a       // -> 2
vm.aDouble // -> 4

console.log(`vm.aPlus : ${vm.aPlus}`);
console.log(`vm.a  : ${vm.a}`);
console.log(`vm.aDouble : ${vm.aDouble}`);

</script>

</html>