<html>

<head>
  <script src='vue.js'></script>
</head>

<body>
  <div id="example">
    <span>Message: {{ msg }}</span>
    <br>
    <span>Message: {{ msg | capitalize}}</span>
    <br>
    <span v-once>This will never change: {{ msg }}</span>
    <br>
     <span v-once>{{ msg.split('').reverse().join('') }}</span>
    <br>
    <div v-html="rawHtml"></div>
    <br>
    <div v-bind:id="dynamicId">{{ rawHtml }}</div>
     <br>
    <button v-on:click="someMethod">Button</button>
    <br>
    <button v-bind:disabled="someDynamicCondition" v-on:click="someMethod2">Button</button>
    <br>
    <p v-if="someDynamicCondition2">Now you see me</p>
  </div>
</body>
<script>
//模板

var data = { 
  msg : 'hello world',
   dynamicId : 'test',
  rawHtml :' <ul>      <li>test</li>    </ul>',
  someDynamicCondition:true, 
  someDynamicCondition2:false, 
 };
var vm = new Vue({
  el: '#example',
  data: data,
  methods :{
    someMethod: function () {
      this.someDynamicCondition = !this.someDynamicCondition;
    },
    someMethod2: function () {
      this.someDynamicCondition2 = !this.someDynamicCondition2;
    }
  },
  filters: {
    capitalize: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  }

});


</script>

</html>