<html>

<head>
  <script src='vue.js'></script>
</head>

<body>
  <div id="app-3">
    <p v-if="seen">Now you see me</p>
  </div>
  
</body>
<script>
  

var app3 = new Vue({
  el: '#app-3',
  data: {
    seen: true
  }
})

</script>

</html>