<html>

<head>
  <script src='vue.js'></script>
</head>

<body>
  <div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>
</body>
<script>
  
var app6 = new Vue({
  el: '#app-6',
  data: {
    message: 'Hello Vue!'
  }
})
</script>

</html>