<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" charset="utf-8"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.6/css/AdminLTE.min.css" charset="utf-8"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.6/css/skins/_all-skins.min.css" charset="utf-8"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" charset="utf-8"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" charset="utf-8"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" charset="utf-8"/>
    {{#each htmlWebpackPlugin.files.css}}
      <link rel="stylesheet" href="{{ this }}">
    {{/each}}
  </head>
  <body class="skin-blue sidebar-mini wysihtml5-supported sidebar-collapse">
    <script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.0.0/js/locales/bootstrap-datepicker.zh-CN.min.js" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/admin-lte/2.3.6/js/app.min.js" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/lodash.js/4.15.0/lodash.min.js" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/echarts/3.2.3/echarts.min.js" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/echarts/3.2.3/echarts.common.min.js" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/echarts/3.2.3/extension/bmap.min.js" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/echarts/3.2.3/extension/dataTool.min.js" charset="utf-8"></script>
    <div id="app"></div>
    {{#each htmlWebpackPlugin.files.js}}
      <script src="{{ this }}"></script>
    {{/each}}
  </body>
</html>
