<template>
  <div id="firstcomponent">
    <h1>I am a title from firstcomponent</h1>
    <a> component written by {{ author }} </a>
  </div>
</template>
 
<script type="text/javascript">
export default {
  data () {
    return {
      author: "guodp"
    }
  }
}
</script>
 
<style>
</style>